{% extends 'base.html' %}

{% block page_title %}Password Reset Page{% endblock %}

{% block page_heading %}Reset Password{% endblock %}

{% block content %}
<form method="POST">
    <h1 class="new-ticket-title"><i class="fa fa-sync-alt fa-md page-icon"></i>RESET PASSWORD</h1>
    {% csrf_token %}
    {{form.email.errors}}
    <div class="row">
        <div class="col-12">
            <div id="div_id_email" class="form-group">
                <label for="div_id_email" class="control-label required-field ">
                    EMAIL ADDRESS
                </label>
                <div class="">
                    <input type="text" name="email" id="id_email" required class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-base" type="submit">RESET PASSWORD</button>    
        </div>
    </div>
</form>
{% endblock %}