{% extends 'base.html' %} {% load bootstrap_tags %} {% block title %} Create Feature Request {% endblock %} {% block content %}
<h1>NEW FEATURE REQUEST</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{ form | as_bootstrap }}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#payment-reminder">CREATE</button>

    <!-- Payment Reminder -->
    <div class="modal fade" id="payment-reminder" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">PAYMENT</h5>
        </button>
                </div>
                <div class="modal-body">
                    <p>In order to submit a feature request, a payment of <strong>£50</strong> is required.</p>
                    <p>This pays for the developer's time, and you will receive an email once the feature has been implemented.</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-primary">Proceed To Payment</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
