{% extends 'base.html' %} {% load bootstrap_tags %} {% block title %} Tickets {% endblock %} {% block content %} {% for ticket in tickets %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 text-left no-padding-lr">
                                {% if ticket.ticket_type == 'bug' %}
                                <i class="fa fa-bug fa-lg page-icon"></i>
                                <span>BUG</span> 
                                {% else %}
                                <i class="fa fa-lightbulb fa-lg page-icon"></i><span>FEATURE REQUEST</span>
                                {% endif %}
                            </div>
                            <div class="col-sm-6 text-right no-padding-lr view-btn">
                                <a class="view-link" href="{% url 'ticket_detail' ticket.id %}">
                                    <span class="btn">VIEW</span><i class="fa fa-eye fa-lg page-icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 text-center text-md-left">
                                <h6 class="card-title">{{ ticket.title.upper }}</h6>
                                <p class="card-text">{{ ticket.summary|truncatewords:30 }}...</p>
                            </div>
                            <div class="col-sm-4 col-md-3 text-center">
                                <h6>STATUS</h6>
                                <p>{{ ticket.status.upper }}</p>
                            </div>
                            <div class="col-sm-4 col-md-3 text-center">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h6>UPVOTES</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 text-right">
                                            <span>{{ ticket.upvotes }}</span>
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            <a id="upvote-icon" href="{% url 'upvote' ticket.pk %}">
                                                <span class="align-text-bottom"><i class="fas fa-angle-double-up fa-2x"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--{% if comments.ticket == ticket.id %}-->
                <div class="card-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-right comments-btn" data-toggle="collapse" data-target="#comments-{{ ticket.id }}">
                                <span class="btn">COMMENTS</span>
                                <i class="fas fa-angle-down fa-lg page-icon"></i>
                            </div>
                        </div>
                        <div id="comments-{{ ticket.id }}" class="collapse">
                            {% for comment in comments %}
                            {% if comment.ticket.id == ticket.id %}
                            <div class="row">
                                <p>{{ comment.user }} commented on {{ user.comment_date|date:"SHORT_DATE_FORMAT" }}</p>
                            </div>
                            <div class="row">
                                <p>{{ comment.comment }}</p>
                            </div>
                            {% endif %} {% endfor %}
                        </div>
                    </div>
                    <!--<div class="row">-->
                    <!--    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addcomment"><i class="fas fa-comment-dots fa-lg page-icon"></i>ADD COMMENT</button>-->

                    <!-- Modal -->
                    <!--    <div id="addcomment" class="modal fade" role="dialog">-->
                    <!--        <div class="modal-dialog">-->

                    <!-- Modal content-->
                    <!--            <div class="modal-content">-->
                    <!--                <div class="modal-header">-->
                    <!--                    <button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <!--                    <h4 class="modal-title text-sm-left">YOUR COMMENT</h4>-->
                    <!--                </div>-->
                    <!--                <div class="modal-body">-->
                    <!--                    <form method="POST" action="{% url 'create_comment' ticket.id %}">-->
                    <!--                        {% csrf_token %}-->
                    <!--                        {{ comment_form | as_bootstrap }}-->
                    <!--                        <button type="submit" class="btn btn-primary">COMMENT</button>-->
                    <!--                    </form>-->
                    <!--                </div>-->
                    <!--                <div class="modal-footer">-->
                    <!--                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <!--                </div>-->
                    <!--            </div>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                </div>
                <!--{% endif %}-->
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}
